.filter {
  height: 100%;
}

.filter__block {
  background-color: #22242A;
  height: 100%;
}

.filter__content {
  margin-left: 10%;
  font-family: 'Inter', sans-serif;
}

.filter__header {
  color: white;
  font-size: 20px;
}

.filter__name_header, .filter__port_header, .filter__type_header {
  color: #818698;
  opacity: 0.7;
  font-size: 15px;
}
