.main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__block {
  width: 100%;
  height: 100%;
  background-color: #151619;
}

.main__header {
  font-size: 32px;
  color: white;
  font-family: 'Inter', sans-serif;
  margin-left: 7%;
  margin-bottom: 50px;
  padding-top: 55px;
}

.main__filter {
  width: 300px;
}
